---
- name: Start and enable docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Start and enable nginx service
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes