---
- name: Start docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes