---
- name: Start docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Start nginx service
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true