---
# Handlers used after tasks to start/restart services

- name: restart docker
  ansible.builtin.service:
    name: docker
    state: restarted

- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted