---
- name: start docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true