---
- name: Ensure docker is installed
  ansible.builtin.apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Ensure nginx is installed
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: yes