---
- name: Install docker
  ansible.builtin.apt:
    name: docker.io
    state: present
    update_cache: yes

- name: Install nginx
  ansible.builtin.apt:
    name: nginx
    state: present

- name: Ensure docker service is enabled and started
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Ensure nginx service is enabled and started
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true