---
- name: Install docker package
  ansible.builtin.apt:
    name: docker.io
    state: present
    update_cache: true

- name: Install nginx package
  ansible.builtin.apt:
    name: nginx
    state: present

- name: Enable and start docker service
  ansible.builtin.service:
    name: docker
    enabled: true
    state: started

- name: Enable and start nginx service
  ansible.builtin.service:
    name: nginx
    enabled: true
    state: started