---
- name: start docker service
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: start nginx service
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes