---
- name: Install Docker packages
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose
    state: present
    update_cache: yes

- name: Install NGINX
  ansible.builtin.apt:
    name: nginx
    state: present
    update_cache: yes