---
- name: Install required packages
  ansible.builtin.package:
    name:
      - docker.io
      - nginx
    state: present

- name: Ensure docker service is enabled and started
  ansible.builtin.service:
    name: docker
    enabled: yes
    state: started

- name: Ensure nginx service is enabled and started
  ansible.builtin.service:
    name: nginx
    enabled: yes
    state: started